@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&family=Slabo+27px&display=swap');
.Jeddah{
    background-color: #fff;
}
.Jeddah-text h6{
    color: #D82937;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: clamp(.6rem,.8vw,1rem);
}
.Jeddah-text h3{
    color: #000;
    font-size: clamp(2.2rem,15vw,3.5rem);
    text-transform: capitalize;
    margin-bottom: 50px;
    font-family: "Slabo 27px", serif;
    font-weight: 700;
    letter-spacing: 1px;

}
.Jeddah-text p{
    color: rgba(0, 0, 0, 0.597);
    font-size: clamp(.8rem,1.5vw,1.2rem);
    font-weight: 400;
    text-transform: capitalize;
    font-family: "Slabo 27px", serif;
    letter-spacing: 1px;
}
.card-item{
    background-color: #D82937;
    border: #fff 2px double;
}
.card-item h4{
    color: #fff;
    font-size: clamp(1.3rem,3vw,2.2rem);
    font-weight: 700;
}
.card-item p{
    color: #fff;
    font-size: clamp(.8rem,1.5vw,1.2rem);
    font-weight: 500;
    text-transform: capitalize;
    font-family: "Slabo 27px", serif;
    
}