header{
    padding: 10px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header .logo{
    height: 50px;
    width: 180px;
}
header .logo img{
    height: 100%;
    width: 100%;
}
header .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
header .header{
    display: flex;
}
header .header .ul{
    font-size: clamp(1rem,1.3rem,2rem);
    display: flex;
    gap: 50px;
}
header .header .ul a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
header .header .ul a:last-child{
    margin-right: 0;
}
header .header button{
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    background-color: #D82937;
    color: #fff;
    font-size: clamp(1rem,1.1rem,2rem);
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
header .header button:hover{
    background-color: #fff;
    color: #D82937;
}
/*--------------------- mobile------------------- */
header .header .ul-mobile{
    display: none;
}
header .header .ul-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #D82937;
}
header .header .ul-mobile .nav-side{
    position: relative;
}
header .header .ul-mobile .nav-side button{
    padding: 0;
    background-color: transparent;
    position: fixed;
    z-index: 101;
    top: 38px;
    right:38px;
}
header .header .ul-mobile .nav-side .logo-mobile{
    display: none;
}
header .header .ul-mobile .nav-side .logo-mobile img{
    height: 100%;
    width: 100%;
}
header .header .ul-mobile .nav-back{
    position: fixed;
    height: 100svh;
    width: 400px;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: #D82937;
}
header .header .ul-mobile .nav-back .ul-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
}
header .header .ul-mobile .nav-back .ul-mobile a{
    color: #fff;
    text-decoration: none;
    font-size: clamp(1.5rem,2rem,2.2rem);
    font-weight: 600;
    text-transform: uppercase;
}
header .header .ul-mobile{
    display: none;
}
@media screen and (max-width: 990px){
    header .header .ul{
        display: none;
    }
    header .header button{
        display: none;
    }
    header .header .ul-mobile{
        display: block;
    }
    header .header .ul-mobile button{
        display: block;
    }
    header .header .ul-mobile .nav-side .logo-mobile{
        display: block;
        height: 50px;
        width: 180px;
        top: 20px;
        right: 200px;
    }
}